@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 137, 14, 3;
  --background-end-rgb: 137, 14, 3;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #0000004d;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2e4350;
  border-radius: 10px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 137, 14, 3;
    --background-end-rgb: 137, 14, 3;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes hover-move {

  0%,
  100% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(10px);
  }
}

.hover-animate:hover {
  animation: hover-move 1s infinite;
}